﻿@model InventoryV1.Web.Models.Item.ItemBatchViewModel

<h1>Part Number: @Model.Item.PartNumber</h1>

@if (Model.Batches.Any()) 
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach(var batch in Model.Batches) 
            {
            <tr>
                <td>
                    <a asp-controller="Batch" asp-action="Index" asp-route-id="@batch.Id">
                        @batch.GoodsReceivedNote
                    </a>
                </td>
                <td>
                    @batch.ExpiryDate
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else{
    <div class="noBatches">
        <h3>
            No Data Available
            <a asp-controller="Batch" asp-action="Create" asp-route-id="@Model.Item.Id">
            <span>Create</span>
            </a>
        </h3>
    </div>
}