﻿@model InventoryV1.Web.Models.Item.ItemIndexViewModel

<h1>Items</h1>

<table class="table table-hover" id="itemIndexTable">
    <tbody>
        @foreach (var item in Model.ItemList)
        {
        <tr>
            <td>
                <a asp-controller ="Item" asp-action="Batch" asp-route-id="@item.Id">
                    @item.PartNumber
                </a>
            </td>
            <td>
                @item.ItemDescription
            </td>
        </tr>
        }
    </tbody>
</table>
